html {
  background-color: #dcdeda;
}
body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #191a1f;

  padding-top: 150px;
}
h4 {
  color: #636a69;
}
h1,
h2 {
  font-family: "Courier New", Courier, monospace;
  text-transform: uppercase;
}
nav {
  display: flex;
  justify-content: flex-end;
  padding: 20px 0;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  border-bottom: 2px solid #636a69;
  background-color: #dcdeda;
}
nav ul {
  display: flex;
  list-style: none;
}
nav ul li {
  display: inline-block;
  margin: 20px 30px;
  text-transform: uppercase;
}
.logo {
  width: 50px;
  height: 50px;
  cursor: pointer;
}
